<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Report - Trabalho1 - Disciplina IA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" charset="utf-8"></script>
  <style media="screen">
    * {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      box-sizing: border-box;
      line-height: 1.43;
      letter-spacing: 0.01071em;
    }

    a {
      text-decoration: none;
    }

    html {
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
    }

    body {
      padding: 10px;
      margin: 0;
    }

    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .menu li {
      display: inline-block;
      padding: 6px;
      border: 1px solid #DDD;
      border-radius: 2px;
      margin-right: 4px;
      border-bottom: 0;
      text-transform: capitalize;
    }

    article {
      position: relative;
    }

    section {
      position: absolute;
      padding: 10px;
      border: 1px solid #DDD;
      border-radius: 2px;
      background: #fbfbfb;
      width: 97vw;
      z-index: 0;
    }

    section {
      visibility: hidden;
    }

    /* Target cria a referência do elemento clicado */
    section:target {
      z-index: 2;
      visibility: visible;
    }

    h1 {
      text-transform: capitalize;
      border-bottom: 2px solid #ddd;
      padding: 5px;
      margin: 0;
    }

    h2 {
      text-transform: capitalize;
      border-bottom: 1px solid #ddd;
      padding: 5px;
      margin: 0;
    }

    table {
      margin: 10px auto;
      border: 2px solid black;
      border-collapse: collapse;
      max-width: 800px;
    }

    table thead tr {
      color: white;
      background-color: #777;
      border-bottom: 1px solid #ddd;
    }

    table thead tr th {
      padding: 10px;
    }

    table thead tr th:not(:last-child) {
      border-right: 1px solid black;
    }

    table tbody tr td {
      padding: 5px;
      background-color: #fff;
    }

    table tbody tr td:not(:last-child) {
      border-right: 1px solid black;
    }

    .capitalize {
      text-transform: capitalize;
    }

    .horizontal-list {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      justify-items: center;
    }

    .container {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 11px;
      background-color: #fff;
      box-shadow: 2px 2px 5px #ddd;
    }

    .execucoes>.grafico {
      height: auto;
      width: 50%;
      padding: 2px;
    }

    .execucoes>.grafico img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }

    .table-responsive {
      overflow-x: auto;
      margin-bottom: 11px;
    }

    @media screen and (max-width: 860px) {
      .horizontal-list {
        flex-direction: column !important;
      }

      .execucoes>.grafico {
        height: auto;
        width: 100%;
        padding: 2px;
      }
    }
  </style>
  <script type="text/javascript">
    window.COLORS = ["#C8BFC7", "#7A9B76", "#8A7E72", "#5A2328", "#090302", "#231C07", "#634133", "#F78764", "#B95F89", "#67AAF9"];
    function drawChart(title, data, ctx, lineWidth = 1){
      const allKeys = Array.from(new Array(1000).keys());
      let datasets = data.map((dt, index) => {
        return {
          label: 'Execução ' + (index + 1),
          backgroundColor: window.COLORS[index],
          borderColor: window.COLORS[index],
          pointBackgroundColor: "transparent",
          pointBorderColor: "transparent",
          borderWidth: lineWidth,
          data: dt.map(a => parseFloat(a.value).toFixed(4)),
          fill: false
        }
      })
      const config = {
        type: 'line',
        data: {
          labels: allKeys,
          datasets: datasets
        },
        options: {
          responsive: true,
          legend: {display: false},
          title: {
            display: true,
            text: title.toUpperCase()
          },
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true,
            display: false
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Execuções',
              },
              ticks: {
                min: allKeys[0],
                max: allKeys[allKeys.length-1],
                stepSize: 200,
                maxTicksLimit: 7
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Função objetivo'
              }
            }]
          }
        }
      };
      const chart = new Chart(ctx, config);
      return chart;
    }
  </script>
</head>

<body>


  <main>
    <ul class="menu">
      <% for(let problema of this.problemas){ %>
      <li><a href="#<%=problema%>"><%=problema%></a></li>
      <% } %>

    </ul>

    <article>

      <% for(let problema of this.problemas){ %>
      <section id="<%=problema%>">
        <h1><%=problema%></h1>

        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th>Algoritmo</th>
                <th>Max</th>
                <th>Min</th>
                <th>Média</th>
                <th>Desvio Padrão</th>
              </tr>
            </thead>
            <tbody>
              <% for(let data of this[problema].estatisticas){ %>
              <tr>
                <td class="capitalize"><%= data.algoritmo %></td>
                <td><%= data.pior %></td>
                <td><%= data.melhor %></td>
                <td><%= data.media %></td>
                <td><%= data.desvioPadrao %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>

        <div class="container">
          <h2>Execuções</h2>
          <div class="horizontal-list execucoes">
            <% for(let algoritmo in this[problema].algoritmos){ %>
            <div class="grafico">
              <canvas id="<%= problema %>-<%= algoritmo %>-execucoes"></canvas>
              <script type="text/javascript">
              (function() {
                  const ctx = document.getElementById('<%= problema %>-<%= algoritmo %>-execucoes').getContext('2d');
                  const data = <%- JSON.stringify(this[problema].algoritmos[algoritmo].graficosData.currents) %> ;
                  drawChart("<%= algoritmo %>", data, ctx);
                })();
              </script>
            </div>
            <% } %>
          </div>
        </div>

        <div class="container">
          <h2>Média Execuções</h2>
          <div class="horizontal-list execucoes">
            <% for(let algoritmo in this[problema].algoritmos){ %>
            <div class="grafico">
              <canvas id="<%= problema %>-<%= algoritmo %>-media-execucoes"></canvas>
              <script type="text/javascript">
              (function() {
                  const ctx = document.getElementById('<%= problema %>-<%= algoritmo %>-media-execucoes').getContext('2d');
                  const data = <%- JSON.stringify(this[problema].algoritmos[algoritmo].graficosData['mean-current']) %> ;
                  drawChart("<%= algoritmo %>", data, ctx, 3);
                })();
              </script>
            </div>
            <% } %>
          </div>
        </div>

        <div class="container">
          <h2>Melhores</h2>
          <div class="horizontal-list execucoes">
            <% for(let algoritmo in this[problema].algoritmos){ %>
            <div class="grafico">
              <canvas id="<%= problema %>-<%= algoritmo %>-melhores"></canvas>
              <script type="text/javascript">
              (function() {
                  const ctx = document.getElementById('<%= problema %>-<%= algoritmo %>-melhores').getContext('2d');
                  const data = <%- JSON.stringify(this[problema].algoritmos[algoritmo].graficosData['bests']) %> ;
                  drawChart("<%= algoritmo %>", data, ctx);
                })();
              </script>
            </div>
            <% } %>
          </div>
        </div>

        <div class="container">
          <h2>Média Melhores</h2>
          <div class="horizontal-list execucoes">
            <% for(let algoritmo in this[problema].algoritmos){ %>
            <div class="grafico">
              <canvas id="<%= problema %>-<%= algoritmo %>-media-best"></canvas>
              <script type="text/javascript">
              (function() {
                  const ctx = document.getElementById('<%= problema %>-<%= algoritmo %>-media-best').getContext('2d');
                  const data = <%- JSON.stringify(this[problema].algoritmos[algoritmo].graficosData['mean-best']) %> ;
                  drawChart("<%= algoritmo %>", data, ctx, 3);
                })();
              </script>
            </div>
            <% } %>
          </div>
        </div>

        <!-- <div class="container">
          <h2>Execuções</h2>
          <div class="horizontal-list execucoes">
            <% for(let algoritmo in this[problema].algoritmos){ %>
            <div class="grafico">
              <img src="<%= this[problema].algoritmos[algoritmo].graficos.currents %>" alt="">
            </div>
            <% } %>
          </div>
        </div> -->

        <!-- <div class="container">
          <h2>Média Execuções</h2>
          <div class="horizontal-list execucoes">
            <% for(let algoritmo in this[problema].algoritmos){ %>
            <div class="grafico">
              <img src="<%= this[problema].algoritmos[algoritmo].graficos['mean-current'] %>" alt="">
            </div>
            <% } %>
          </div>
        </div> -->

        <!-- <div class="container">
          <h2>Melhores</h2>
          <div class="horizontal-list execucoes">
            <% for(let algoritmo in this[problema].algoritmos){ %>
            <div class="grafico">
              <img src="<%= this[problema].algoritmos[algoritmo].graficos.bests %>" alt="">
            </div>
            <% } %>
          </div>
        </div> -->

        <!-- <div class="container">
          <h2>Média Melhores</h2>
          <div class="horizontal-list execucoes">
            <% for(let algoritmo in this[problema].algoritmos){ %>
            <div class="grafico">
              <img src="<%= this[problema].algoritmos[algoritmo].graficos['mean-best'] %>" alt="">
            </div>
            <% } %>
          </div>
        </div> -->




      </section>
      <% } %>



    </article>
  </main>


</body>

</html>
